.image-list {
  display: grid;
  /* here autofill means the number or columns is decided by the 
  browser and 250px is the min width of the div and 1fr is sapce taken by each unit */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 0 10px;
  grid-auto-rows: 10px;
}

.image-list img {
  width: 250px;
  grid-row-end: span 1;
}
